.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tiendasuralgm.appspot.com/o/pelicula.jpg?alt=media&token=f2c1455c-d0c4-4d96-84dc-cc167812dbd3");
    background-position: top center;
    background-size: cover;
    padding: 5% 10% 70% 10%;
}